version: 2.1
orbs:
  node: circleci/node@14.20.0
jobs:
  build_and_test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
         command: npm run test
         name: Run tests

